.container{
    min-width: 240px;
    margin: auto;
}

.board{
    width: 240px;
    height: 240px;
    position: relative;
    margin: auto;
    /* border: solid 1px; */
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 30%;
    height: 30%;
    margin: 1.2%;
    /* border: solid 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    position: relative;
}

.forward-slash{
    border-radius: 3px;
    background-color: rgb(145, 34, 34);
    border: solid 2px rgb(232, 96, 51);
    
    width: 5%;
    height: 100%;
    transform: rotate(55deg);
}
.backward-slash{
    border-radius: 3px;
    background-color: rgb(145, 34, 34);
    border: solid 2px rgb(232, 96, 51);
    
    width: 5%;
    height: 100%;
    transform: rotate(-30deg);
}

.ring-outer-border{
    border: solid 2px rgb(56, 211, 131);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    position: absolute;
}
.ring-inner-border{
    border: solid 2px rgb(56, 211, 131);
    border-radius: 50%;
    width: 70.5%;
    height: 70.5%;
    position: absolute;
}
.ring{
    border: solid 4px rgb(13, 163, 45);
    border-radius: 50%;
    width: 74.5%;
    height: 74.5%;
    position: absolute;
}

.line{
    border-radius: 3px;
    background-color: rgb(34, 78, 145);
    border: solid 2px rgb(28, 48, 46);
    position: absolute;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    color: white;
    background-color: blueviolet;
    border: solid 2px rgba(127, 255, 212, 0.801);
    border-radius: 5px;
    height: 50px;
    margin: 5px;
    padding: 5px 12px 5px 12px;
}

.game-status{
    margin: auto;
    max-width: 50px;
    color: blanchedalmond;
    text-align: center;
    margin-top: 10px;
}

.left-vert{
    width: 2%;
    height: 90%;
    left: 31.5%;
    top: 5%;
}
.right-vert{
    width: 2%;
    height: 90%;
    left: 64.5%;
    top: 5%;
}
.top-horz{
    height: 2%;
    width: 90%;
    top: 31.5%;
    left: 5%;
}
.bottom-horz{
    height: 2%;
    width: 90%;
    top: 64.5%;
    left: 5%;
}